<html>
    <head>
        <title>Aurevoir à tous les amies ce fû un plaisir</title>
    </head>
    <body>
        <h1>Bye bye {{nom}}</h1>
    </body>
    <p style="color:greenyellow">
        Allez à plutard frero ;)
    </p>
</body>
</html>
