{#
# Gestion d'héritage de pages
#}
{% extends "TEHANDPlatformBundle::layout.html.twig" %}

{% block body %}

    <h2>Ajouter une annonce</h2>
    
    {# inclusion du formulaire #}
    {{ include('TEHANDPlatformBundle:Advert:form.html.twig') }}

    <p>
        Attention : cette annonce sera ajoutée directement
        sur la page d'accueil après validation du formulaire.
    </p>

{% endblock %}